@import "../scss/variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../scss/buttons";

nav {
  z-index: 999;
}

/*---- Vertical line ----*/
.vertical {
    border-left: 2px solid $secondary;
    height: 30px;
}


/*---- Image controll ----*/

.example-bg-image {
  min-height: 100px; 
  min-width: 80px; 
  background-size: cover;
  background-position: center;
}

.img-width {
    max-width: 70px;
}

.profileImage-Default {
  height: 50px;
  width: 50px;
  border-radius: 360px;
}

.profileImage-Comments {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display:flex;
  padding: 0px;
}

.postImg {
  max-height: 600px;
  max-width: 100%;
}

/*---- Color controll ----*/

.white, .card, nav {
  background-color: $white;
}

.gray, body {
  background-color: $gray;
}

.primary {
  background-color: $primary;
}

.secondary {
  background-color: $secondary;
}

.purple {
  background-color: $purple;
}

.light-purple {
  background-color: $light-purple;
}

.logo {
  color: $primary;
  font-weight: bold;
}