@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../scss/variables";
@import "../scss/buttons";


/*---- Image controll ----*/
.example-bg-image {
  min-height: 80px; 
  width: 80px; 
  background-size: cover;
  background-position: center;
}

.img-width {
    max-width: 70px;
}